// Colours 
$main-font-colour: #00B0C8;
$second-blue: #5FB1DD;
$bg-colour: #a6a6a6;
$l-border: #C0C0C0;
$t-border: #808080;
$r-border: #C0C0C0;
$b-border: #D3D3D3;
$text-colour: #787878;




// Fonts
$main-font: Eater, cursive;
$second-font: Frijole, cursive;
$third-font: Cutive Mono, monospace;