body{
    background-color: $bg-colour;

}
nav{
    text-align: center;
    a{
    font-family: $main-font;
    display:inline-block;
    margin-top: -30px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 2em;
    color: $main-font-colour;
    text-shadow: -1px 0 #87FA6D, 0 6px #87FA6D, 1px 5px #87FA6D, 0 -1px #87FA6D;
    }
}