.contact-row {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 10px;
    margin-top: -50px;
    text-align: center;
    border-left: 40px solid $l-border;
    border-top: 40px solid $t-border;
    border-right: 40px solid $r-border;
    border-bottom: 40px solid $b-border;
    background-color: $bg-colour;
    
    h1{
      background-color: $bg-colour;
    }
  }

  .contact-form {
    color: $text-colour;
    font-family: $third-font;
    display: inline-block;
    text-align: left;
    .contact-p {
      font-size: 20px;
      color: $text-colour;
    display: inline-block;
  }
  }

  .contact-header {
    background: linear-gradient(to right, #808080 , #696969);
    width: 420px;
    font-family: $main-font;
    color: $main-font-colour;
    text-shadow: -1px 0 #87FA6D, 0 6px #87FA6D, 1px 5px #87FA6D, 0 -1px #87FA6D;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 3em;
    border-left: 3px solid $l-border;
    border-top: 5px solid $t-border;
    border-right: 5px solid $r-border;
    border-bottom: 6px solid $b-border;
    background-color:$bg-colour;
    

  }
  .error {
    color: red;
    font-size: 10px;
    opacity: 40%;
    text-align: right;
    margin-right: 100px;
    &__hide {
      display: none;
    }
  }

  .form-control{
      width: 220px;
      border-left: 4px solid $l-border;
      border-top: 4px solid $t-border;
      border-right: 4px solid $r-border;
      border-bottom: 6px solid $b-border;
      background: linear-gradient(to right, #808080 , #b4b4b4);
      font-family: "Slackey", cursive;
      font-size: 1em;
      color: black;
      position: absolute;
      left: 750px;
      right: 100px;
  
      
  }
  .btn-contact {
    text-align: center;
    color: $bg-colour;
    font-family: $third-font;
    font-size: 2em;
    width: 320px;
    height: 60px;
    margin-left: 350px;
    margin-bottom: 20px;
    margin-top: 40px;
    background: linear-gradient(to right, #808080 , #696969);
    border-left: 1px solid $l-border;
    border-top: 1px solid $t-border;
    border-right: 1px solid $r-border;
    border-bottom: 1px solid $b-border;
    border-radius: 50px;
  }
  